extends template
block content
  body
    h1 Netatmo
    div
      h4 dashboard
      span Your Access Token Here
      input(value="#{access_token}")
      br
      span Your Device ID Here
      input(value="#{device_id}")
    div
      button
        a(href='dashboard?access_token=#{access_token}&device_id=#{device_id}') Get Data
