doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Sensor Hub
    link(rel='stylesheet', type='text/css', href='/externel/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/externel/bootstrap/theme/local.css')
    script(type='text/javascript', src='/externel/jquery-3.1.0.min.js')
    script(type='text/javascript', src='/externel/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript' src='/lib/netatmo.js')
    script(type='text/javascript' src='/lib/enertalk.js')
    script(type='text/javascript' src='/lib/foobot.js')
    script(type='text/javascript' src='/lib/common.js')
    script(type='text/javascript' src='/lib/sensorthings.js')
    link(href='/stylesheets/style.css', rel='stylesheet')
  body
    #wrapper
      nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Sensor Hub
        .collapse.navbar-collapse.navbar-ex1-collapse
          ul#active.nav.navbar-nav.side-nav
            li.selected
              a(href='/#navigater')
                i.fa.fa-bullseye
                |  Home
            li
              a
                i.fa.fa-bullseye
                  | Sensor List
            if session.netatmo_access_token != null
              li
                a(href='/#netatmo')
                  img(src='/images/netatmo.png' class='icon')
                  i.fa.fa-bullseye
                  | &nbsp;Netatmo
            if session.enertalk_access_token != null
              li
                a(href='/#enertalk')
                  img(src='/images/enertalk.png' class='icon')
                  i.fa.fa-bullseye
                  | &nbsp;Enertalk
            if session.foobot_auth_token != null
              li
                a(href='/#foobot')
                  img(src='/images/foobot.png' class='icon')
                  i.fa.fa-bullseye
                  | &nbsp;Foobot
            if session.smappee_logged_on
              li
                a(href='/#smappee')
                  img(src='/images/smappee.png' class='icon')
                  i.fa.fa-bullseye
                  | &nbsp;Smappee
            li
              a
                i.fa.fa-bullseye
                  | SensorThings Dashboard
            li
              a(href='/sensorthings/sensors')
                i.fa.fa-bullseye
                | - Sensors
            li
              a(href='/sensorthings/observations')
                i.fa.fa-bullseye
                | - Observations
            li
              a(href='/sensorthings/observedProperties')
                i.fa.fa-bullseye
                | - ObservedProperties
            li
              a(href='/sensorthings/datastreams')
                i.fa.fa-bullseye
                | - Datastreams
            li
              a(href='/sensorthings/dataLogging')
                i.fa.fa-bullseye
                | - Datalogging
          ul.nav.navbar-nav.navbar-right.navbar-user
            li.dropdown.messages-dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                i.fa.fa-envelope
                |  KIST IMRC
            li.divider-vertical
            li
              form.navbar-search
                input.form-control(type='text', placeholder='Search')
      #page-wrapper
        .row
          .col-lg-12
        body
          block content
