a {cursor:pointer}
input {color:black}
.icon {width:24px;height:24px;}
.table th {width:120px;text-align:center}
.table td {text-align:center}
.margin30 {margin-top:30px;margin-bottom:30px;}
.login_table th {padding-left:20px;padding-right:20px;}
.login_table td {padding-left:20px;padding-right:20px;}
.netatmo {display:none}
.enertalk {display:none}
.foobot {display:none}
.smappee {display:none}
.foobot_data_table th {width:150px;text-align:center}
.foobot_data_table td {text-align:center}
.data_table th {width:150px;text-align:center}
.data_table td {text-align:center}
.modal-body {padding:20px;}
.modal_table th {width:150px;padding:5px;}
.modal_table td {padding:5px;width:250px;}
.modal_table td input {width:300px;}
.modal-content a {color:white}

#datalogging_table th {padding-left:30px;padding-right:30px;padding-top:5px;padding-bottom:5px;}
#datalogging_table td {padding-left:30px;padding-right:30px;}
